.card-img-top{
    max-width: 200px;
    max-height: 200px;
}

.card-body{
    color: aliceblue;

}
.itemCard{
    background-color:#202020;
    width: 25rem;
    border: white solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    margin: 15px;
}