.nav-link{
    text-decoration: none;
    color:aliceblue;
    border-radius: 15px;
    
}
.nav-link:hover{
    color: black;
    background-color: rgb(19, 102, 8);
    
}
.nav-item{
    padding-inline: 40px;
}

.cart{
    padding-left: 23rem;
    text-decoration: none;
}