.cards-container {
    display: flex;
    
    justify-content: center;
    background: #20c997;
    margin-top: 20px;
}
.counterSection{
    display: flex;
    justify-content: center;
    align-items: center;
}