.FormBody{
    display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
    background-color: rgb(206, 224, 208);
	border-radius: 15px;
	border: solid 1px rgb(16, 82, 16);
	padding: 15px;
}
.btn-section{
	text-align: center;
	
}